body{
  background-color: #fcba03;
  font-family: helvetica;
}

hr{
  width: 50%;
  text-align: center;
}
#content{
  filter: brightness(110%) grayscale(60%);
  margin-top:-22px;
  margin-left: -10px;
  margin-right: -8px;
  background-size: cover;
  background-image: url("banner.jpg");
  background-repeat: no-repeat;
  height: 500px;
  text-align: center;
}

.titulo{
  font-size: 200%;
}

#rootCriptografia{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: helvetica;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
  border: 5px double grey ;
  width:300px;
  height:260px;
  text-align:center;
  background-color: white;
  color: #262624;
}

h1{
  text-align: center;
  margin-bottom: 30px;

}
#nome{
  width: 170px;
  border-radius: 10px;
}
input{
  margin-top: 5%;
  border-radius: 10px;
  text-align: center;
}
#offset{
    width: 55px;
}

span{
  background-color: #ffff00;
}

button{
  border-radius: 10px;
  margin-top: 5%;
}
